@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}
:root {
  --black: #010101;
  --dark: #181818;
  --white: #ffffff;

  --blue: #4169e1;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--blue);
  padding: 1em;
  font-weight: 600;
  font-size: 18px;
}

nav ul {
  display: flex;
  gap: 1em;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--black);
}

.logo a {
  text-decoration: none;
  color: var(--black);
}